workflows/website-monitor/workflow.json
{
  "name": "Website Monitor - Copenhagen Wedding",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Every Hour"
    },
    {
      "parameters": {
        "url": "https://idocph.kk.dk/vielse-i-det-fri",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 0],
      "id": "fetch-website",
      "name": "Fetch Website"
    },
    {
      "parameters": {
        "jsCode": "// Simple hash function (djb2)\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n  }\n  return (hash >>> 0).toString(16);\n}\n\nconst html = $input.first().json.data;\n\n// Strip HTML tags and normalize whitespace\nlet content = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Create a hash of the content\nconst contentHash = simpleHash(content);\n\n// Get the previous hash from static data\nconst staticData = $getWorkflowStaticData('global');\nconst previousHash = staticData.contentHash || null;\n\n// Store current values for next run\nstaticData.contentHash = contentHash;\nstaticData.lastChecked = new Date().toISOString();\n\n// Check if this is first run or if content changed\nconst isFirstRun = previousHash === null;\nconst hasChanged = !isFirstRun && previousHash !== contentHash;\n\nreturn [{\n  json: {\n    hasChanged,\n    isFirstRun,\n    contentHash,\n    previousHash,\n    url: 'https://idocph.kk.dk/vielse-i-det-fri',\n    checkedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "extract-and-compare",
      "name": "Extract & Compare Content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-changed",
              "leftValue": "={{ $json.hasChanged }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "id": "check-if-changed",
      "name": "Content Changed?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"U09CHAFQ9UP\",\n  \"text\": \":bell: *Website Update Detected!*\\n\\nThe Copenhagen open-air wedding page has been updated:\\n:link: https://idocph.kk.dk/vielse-i-det-fri\\n\\n*Checked at:* {{ $json.checkedAt }}\\n\\n_This might mean the 2026 locations and dates are now available!_\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, -100],
      "id": "send-slack-dm",
      "name": "Send Slack DM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wKGpeVhoWDqwY4IS",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 100],
      "id": "no-change",
      "name": "No Change"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-first-run",
              "leftValue": "={{ $json.isFirstRun }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 200],
      "id": "check-first-run",
      "name": "First Run?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"channel\": \"U09CHAFQ9UP\",\n  \"text\": \":white_check_mark: *Website Monitor Started*\\n\\nNow monitoring: https://idocph.kk.dk/vielse-i-det-fri\\n\\nYou'll receive a DM when the page content changes.\\n\\n*Current status from page:*\\n> Lokationer og tidspunkter for vielser i det fri i 2026 er endnu ikke fastlagt.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 200],
      "id": "send-first-run-notification",
      "name": "Send Setup Confirmation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wKGpeVhoWDqwY4IS",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Extract & Compare Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Compare Content": {
      "main": [
        [
          {
            "node": "Content Changed?",
            "type": "main",
            "index": 0
          },
          {
            "node": "First Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Changed?": {
      "main": [
        [
          {
            "node": "Send Slack DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Run?": {
      "main": [
        [
          {
            "node": "Send Setup Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2231067a0b740718af5322594b1a5d19b2232512729860c8a4494e2f31825162"
  },
  "id": "yMjwt2RlVygKcRPI",
  "tags": []
}
