workflows/legacy-ai/workflow.json
{
  "name": "LegacyAI (Simplified)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legacy-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-legacy-ai",
      "name": "Webhook",
      "webhookId": "legacy-ai-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Node: Extract Context\n * Type: Code (JavaScript)\n * Position: After Webhook\n *\n * Purpose: Parse app_mention event payload and extract command + thread context\n */\n\nconst input = $input.first().json;\n\n// Handle different possible payload structures\nlet event;\n\n// Case 1: Direct event object (if webhook already parsed JSON)\nif (input.event) {\n  event = input.event;\n}\n// Case 2: Body contains the actual payload\nelse if (input.body) {\n  const parsed = typeof input.body === 'string' ? JSON.parse(input.body) : input.body;\n  event = parsed.event;\n}\n// Case 3: Input IS the event\nelse if (input.type === 'app_mention') {\n  event = input;\n}\nelse {\n  throw new Error('Unable to parse event structure. Check execution logs for input structure.');\n}\n\nif (!event) {\n  throw new Error('No event found in payload');\n}\n\n// CRITICAL: Ignore bot's own messages to prevent infinite loop\n// Get bot_id from the parsed payload or check if user is a bot\nif (event.bot_id || (input.authorizations && input.authorizations[0] && event.user === input.authorizations[0].user_id)) {\n  // This is from the bot itself, skip processing\n  return [];\n}\n\nconst channelId = event.channel;\nconst userId = event.user;\nconst eventTs = event.ts;\nconst text = event.text;\n\n// Extract thread_ts (if this is in a thread) or use event ts as thread root\nconst threadTs = event.thread_ts || event.ts;\n\n// Remove bot mention from text to get the actual command\n// Bot mention format: <@U123456789> command text\nconst botMentionPattern = /<@[A-Z0-9]+>/g;\nconst command = text.replace(botMentionPattern, '').trim();\n\n// Check if command is empty\nif (!command) {\n  return [{\n    json: {\n      error: 'Empty command',\n      channelId,\n      threadTs,\n      eventTs\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    channelId,\n    threadTs,\n    eventTs,\n    userId,\n    command,\n    originalText: text\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "extract-context-legacy",
      "name": "Extract Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "ts",
              "value": "={{ $json.threadTs }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        0
      ],
      "id": "get-thread-legacy",
      "name": "Get Thread Messages",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wKGpeVhoWDqwY4IS",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (!response.ok) {\n  throw new Error(`Slack API error: ${response.error || 'Unknown error'}`);\n}\n\nconst messages = response.messages;\n\nif (!messages || !Array.isArray(messages)) {\n  throw new Error('No messages found in response');\n}\n\nconst formattedMessages = messages.map(msg => {\n  const timestamp = new Date(parseFloat(msg.ts) * 1000).toLocaleString('en-US', {\n    timeZone: 'Europe/Copenhagen',\n    dateStyle: 'short',\n    timeStyle: 'short'\n  });\n  const userId = msg.user;\n  const text = msg.text;\n  return `[${timestamp}] User ${userId}: ${text}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    threadText: formattedMessages,\n    messageCount: messages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "format-thread-legacy",
      "name": "Format Thread for Claude"
    },
    {
      "parameters": {
        "jsCode": "const notionDatabases = [\n  {\n    name: \"Engineering Docs\",\n    id: \"27174f4c920280c3b266f3714a5723b9\",\n    description: \"Technical documentation, architecture decisions, API docs\"\n  },\n  {\n    name: \"PO Docs\",\n    id: \"28c74f4c920281029bb4faed43f61cc1\",\n    description: \"Product requirements, feature specs, roadmap items\"\n  },\n  {\n    name: \"Commercial Docs\",\n    id: \"28c74f4c920281ae89d2dfd231ff48e8\",\n    description: \"Sales materials, customer documentation, commercial guides\"\n  }\n];\n\nconst notionContext = `Available Notion Databases:\\n\\n${notionDatabases.map(db => `- **${db.name}** (ID: ${db.id})\\n  ${db.description}`).join('\\n\\n')}\\n\\nWhen creating pages, use the database_id from above in the parent object.`;\n\nreturn [{\n  json: {\n    notionDatabases,\n    notionContext\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "build-notion-context-legacy",
      "name": "Build Notion Context"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Node: Claude Planning\n * Type: Code (JavaScript)\n * Position: After Build Notion Context\n *\n * Purpose: Build Claude API request with ALL Notion MCP tool definitions\n * Claude decides which tools to use and with what parameters\n */\n\nconst command = $('Extract Context').first().json.command;\nconst threadText = $input.first().json.threadText;\nconst notionContext = $('Build Notion Context').first().json.notionContext;\nconst channelId = $('Extract Context').first().json.channelId;\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-20250514\",\n    max_tokens: 4000,\n    tools: [\n      {\n        name: \"notion-search\",\n        description: \"Search across all Notion pages and databases. Use this to find existing information, pages, or documentation.\",\n        input_schema: {\n          type: \"object\",\n          properties: {\n            query: {\n              type: \"string\",\n              description: \"The search query text\"\n            },\n            filter: {\n              type: \"object\",\n              description: \"Optional filters for search\",\n              properties: {\n                property: {\n                  type: \"string\",\n                  description: \"Property name to filter on\"\n                },\n                value: {\n                  type: \"string\",\n                  description: \"Value to match\"\n                }\n              }\n            }\n          },\n          required: [\"query\"]\n        }\n      },\n      {\n        name: \"notion-create-pages\",\n        description: \"Create one or more new pages in a Notion database. Use this to save new information, summaries, or documentation.\",\n        input_schema: {\n          type: \"object\",\n          properties: {\n            parent: {\n              type: \"object\",\n              description: \"Parent database\",\n              properties: {\n                database_id: {\n                  type: \"string\",\n                  description: \"The ID of the target database (Engineering Docs, PO Docs, or Commercial Docs)\"\n                }\n              },\n              required: [\"database_id\"]\n            },\n            pages: {\n              type: \"array\",\n              description: \"Array of pages to create\",\n              items: {\n                type: \"object\",\n                properties: {\n                  properties: {\n                    type: \"object\",\n                    properties: {\n                      title: {\n                        type: \"string\",\n                        description: \"Page title\"\n                      }\n                    },\n                    required: [\"title\"]\n                  },\n                  content: {\n                    type: \"string\",\n                    description: \"Page content in Notion-flavored Markdown\"\n                  }\n                },\n                required: [\"properties\", \"content\"]\n              }\n            }\n          },\n          required: [\"parent\", \"pages\"]\n        }\n      },\n      {\n        name: \"notion-fetch\",\n        description: \"Fetch details of a specific Notion page or database by ID. Use this to get current information about a page before updating it.\",\n        input_schema: {\n          type: \"object\",\n          properties: {\n            id: {\n              type: \"string\",\n              description: \"The ID of the page or database to fetch\"\n            },\n            type: {\n              type: \"string\",\n              enum: [\"page\", \"database\"],\n              description: \"Whether to fetch a page or database\"\n            }\n          },\n          required: [\"id\", \"type\"]\n        }\n      },\n      {\n        name: \"notion-update-page\",\n        description: \"Update an existing Notion page's properties or content. Use 'insert_content_after' to append content at the end of a page (use selection_with_ellipsis to match the last content on the page). Use 'replace_content' to replace all content.\",\n        input_schema: {\n          type: \"object\",\n          properties: {\n            data: {\n              type: \"object\",\n              description: \"The update data object\",\n              properties: {\n                page_id: {\n                  type: \"string\",\n                  description: \"The ID of the page to update (with or without dashes)\"\n                },\n                command: {\n                  type: \"string\",\n                  enum: [\"update_properties\", \"replace_content\", \"replace_content_range\", \"insert_content_after\"],\n                  description: \"The type of update: 'update_properties' to change properties, 'replace_content' to replace all content, 'insert_content_after' to append after specific text\"\n                },\n                properties: {\n                  type: \"object\",\n                  description: \"For update_properties: JSON object of property names to values\"\n                },\n                new_str: {\n                  type: \"string\",\n                  description: \"For replace_content/replace_content_range/insert_content_after: The new content in Notion-flavored Markdown\"\n                },\n                selection_with_ellipsis: {\n                  type: \"string\",\n                  description: \"For replace_content_range/insert_content_after: First ~10 chars + '...' + last ~10 chars of the text to match. Example: '# Section 1...end of section'\"\n                }\n              },\n              required: [\"page_id\", \"command\"]\n            }\n          },\n          required: [\"data\"]\n        }\n      }\n    ],\n    messages: [\n      {\n        role: \"user\",\n        content: `You are LegacyAI, a helpful assistant that manages Notion documentation for Legacy.\n\n${notionContext}\n\nUser command: \"${command}\"\n\nThread context:\n${threadText}\n\nBased on the user's command and thread context, decide which Notion tool(s) to use:\n- Use notion-search to find existing information\n- Use notion-create-pages to save new summaries or documentation\n- Use notion-fetch to get details about a specific page\n- Use notion-update-page to modify existing pages\n\nCall the appropriate tool(s) with the correct parameters. If you need to create a page, choose the right database based on the content type.`\n      }\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "claude-planning-legacy",
      "name": "Claude Planning"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  JSON.stringify({\n    channel: $json.channelId,\n    thread_ts: $json.threadTs,\n    text: $json.responseText\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3360,
        -416
      ],
      "id": "post-slack-legacy",
      "name": "Post to Slack",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wKGpeVhoWDqwY4IS",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Node: Parse Tool Call (Multi-Turn)\n * Type: Code (JavaScript)\n * Position: After Claude Planning API Call\n *\n * Purpose: Extract tool_use blocks and manage conversation history for multi-turn\n */\n\nconst claudeResponse = $input.first().json;\nconst claudePlanningRequest = $('Claude Planning').first().json;\n\n// === DEBUG LOGGING ===\nconsole.log('=== PARSE TOOL CALL DEBUG ===');\nconsole.log('Claude stop_reason:', claudeResponse.stop_reason);\nconsole.log('Claude content blocks:', claudeResponse.content?.map(b => b.type).join(', '));\n// === END DEBUG ===\n\n/**\n * Fix stringified JSON in tool inputs.\n * Claude sometimes returns JSON arrays/objects as strings instead of actual structures.\n * This recursively parses any string that looks like JSON.\n */\nfunction parseStringifiedJson(obj) {\n  if (obj === null || obj === undefined) return obj;\n\n  if (typeof obj === 'string') {\n    // Check if it looks like JSON (starts with [ or {)\n    const trimmed = obj.trim();\n    if ((trimmed.startsWith('[') && trimmed.endsWith(']')) ||\n        (trimmed.startsWith('{') && trimmed.endsWith('}'))) {\n      try {\n        const parsed = JSON.parse(trimmed);\n        // Recursively process the parsed result\n        return parseStringifiedJson(parsed);\n      } catch (e) {\n        // Not valid JSON, return as-is\n        return obj;\n      }\n    }\n    return obj;\n  }\n\n  if (Array.isArray(obj)) {\n    return obj.map(item => parseStringifiedJson(item));\n  }\n\n  if (typeof obj === 'object') {\n    const result = {};\n    for (const [key, value] of Object.entries(obj)) {\n      result[key] = parseStringifiedJson(value);\n    }\n    return result;\n  }\n\n  return obj;\n}\n\n// Find tool_use blocks in Claude's response\nconst toolCalls = [];\nlet hasDirectResponse = false;\nlet directResponseText = '';\n\nif (claudeResponse.content && Array.isArray(claudeResponse.content)) {\n  for (const block of claudeResponse.content) {\n    if (block.type === 'tool_use') {\n      // Fix any stringified JSON in the input\n      const fixedInput = parseStringifiedJson(block.input);\n      console.log('Tool input before fix:', JSON.stringify(block.input).substring(0, 200));\n      console.log('Tool input after fix:', JSON.stringify(fixedInput).substring(0, 200));\n\n      toolCalls.push({\n        id: block.id,\n        name: block.name,\n        input: fixedInput\n      });\n    } else if (block.type === 'text') {\n      hasDirectResponse = true;\n      directResponseText += block.text;\n    }\n  }\n}\n\n// Get context from earlier nodes (needed for both tool calls AND direct responses)\nconst originalCommand = $('Extract Context').first().json.command;\nconst originalThread = $('Format Thread for Claude').first().json.threadText;\n\n// Build/update conversation history\nlet conversationHistory = [];\n\n// Get existing messages from the request\nif (claudePlanningRequest.messages && Array.isArray(claudePlanningRequest.messages)) {\n  conversationHistory = [...claudePlanningRequest.messages];\n}\n\n// Add assistant's response to conversation history\nconversationHistory.push({\n  role: \"assistant\",\n  content: claudeResponse.content  // Full content array (may include tool_use blocks)\n});\n\n// Check stop_reason to determine if we should loop or finish\nconst shouldContinue = claudeResponse.stop_reason === \"tool_use\" && toolCalls.length > 0;\n\n// === DEBUG LOGGING ===\nconsole.log('Tool calls found:', toolCalls.length);\nif (toolCalls.length > 0) {\n  console.log('Tool names:', toolCalls.map(t => t.name).join(', '));\n}\nconsole.log('Has direct response text?', hasDirectResponse);\nconsole.log('shouldContinue:', shouldContinue);\nconsole.log('Will route to:', shouldContinue ? 'Switch Tool (loop continues)' : 'Extract Direct Response (exit loop)');\n// === END DEBUG ===\n\n// If no tool calls AND no direct response, something went wrong\nif (toolCalls.length === 0 && !hasDirectResponse) {\n  return [{\n    json: {\n      hasToolCalls: false,\n      hasDirectResponse: false,\n      shouldContinue: false,\n      directResponseText: \"I encountered an issue processing the request.\",\n      stopReason: claudeResponse.stop_reason,\n      originalCommand,\n      originalThread,\n      conversationHistory\n    }\n  }];\n}\n\n// If Claude provided a final text response (no more tool calls)\nif (!shouldContinue) {\n  return [{\n    json: {\n      hasToolCalls: false,\n      hasDirectResponse: true,\n      shouldContinue: false,\n      directResponseText,\n      stopReason: claudeResponse.stop_reason,\n      originalCommand,\n      originalThread,\n      conversationHistory\n    }\n  }];\n}\n\n// Return tool calls for execution + conversation history for next turn\nreturn [{\n  json: {\n    hasToolCalls: true,\n    hasDirectResponse,\n    directResponseText,\n    shouldContinue: true,\n    toolCalls,\n    stopReason: claudeResponse.stop_reason,\n    originalCommand,\n    originalThread,\n    conversationHistory  // Pass to next turn\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ],
      "id": "extract-tool-call-legacy",
      "name": "Parse Tool Call"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2dfd0c36-e76e-4b79-8142-bee5c599aa73",
              "leftValue": "={{ $json.hasToolCalls }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        0
      ],
      "id": "000d5bbf-f584-4e69-bbdd-454c90b8abf3",
      "name": "IF Has Tool Calls"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.toolCalls[0].name }}",
                    "rightValue": "notion-search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8416f21c-6878-4643-9348-23f205d4c3b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "084b8717-1f8c-420b-b027-06d9506020b3",
                    "leftValue": "={{ $json.toolCalls[0].name }}",
                    "rightValue": "notion-create-pages",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e6a4201e-3bbd-4b29-b875-e20c6a30077b",
                    "leftValue": "={{ $json.toolCalls[0].name }}",
                    "rightValue": "notion-fetch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1535da7-eab6-4fac-8c4c-87725b64bcb6",
                    "leftValue": "={{ $json.toolCalls[0].name }}",
                    "rightValue": "notion-update-page",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1776,
        -480
      ],
      "id": "9f9e3b31-ec82-4cfa-be86-df50bf1ca8ec",
      "name": "Switch Tool"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.notion.com/mcp",
        "authentication": "mcpOAuth2Api",
        "tool": {
          "__rl": true,
          "value": "notion-fetch",
          "mode": "list",
          "cachedResultName": "notion-fetch"
        },
        "inputMode": "json",
        "jsonInput": "={{ JSON.stringify($('Parse Tool Call').first().json.toolCalls[0].input) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2000,
        -352
      ],
      "id": "123578aa-a65c-402b-8970-470b46a4c1ab",
      "name": "notion-fetch",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "XIkxOa43ADR9R2Fv",
          "name": "MCP account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.notion.com/mcp",
        "authentication": "mcpOAuth2Api",
        "tool": {
          "__rl": true,
          "value": "notion-create-pages",
          "mode": "list",
          "cachedResultName": "notion-create-pages"
        },
        "inputMode": "json",
        "jsonInput": "={{ JSON.stringify($('Parse Tool Call').first().json.toolCalls[0].input) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2000,
        -512
      ],
      "id": "mcp-create-legacy",
      "name": "notion-create-pages",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "XIkxOa43ADR9R2Fv",
          "name": "MCP account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.notion.com/mcp",
        "authentication": "mcpOAuth2Api",
        "tool": {
          "__rl": true,
          "value": "notion-search",
          "mode": "list",
          "cachedResultName": "notion-search"
        },
        "inputMode": "json",
        "jsonInput": "={{ JSON.stringify($('Parse Tool Call').first().json.toolCalls[0].input) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2000,
        -672
      ],
      "id": "2c9235bb-e919-4f10-ad81-7082dbb44ddf",
      "name": "notion-search",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "XIkxOa43ADR9R2Fv",
          "name": "MCP account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.notion.com/mcp",
        "authentication": "mcpOAuth2Api",
        "tool": {
          "__rl": true,
          "value": "notion-update-page",
          "mode": "list",
          "cachedResultName": "notion-update-page"
        },
        "inputMode": "json",
        "jsonInput": "={{ JSON.stringify($('Parse Tool Call').first().json.toolCalls[0].input) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2000,
        -192
      ],
      "id": "b06d1ef6-8a37-4b85-b1ef-fea0216e59a5",
      "name": "notion-update-page",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "XIkxOa43ADR9R2Fv",
          "name": "MCP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const parseToolCallsData = $('Parse Tool Call').first().json;\n  const toolCall = parseToolCallsData.toolCalls[0];\n  const mcpResult = $input.first().json;\n\n  return [{\n    json: {\n      toolCallId: toolCall.id,\n      toolName: toolCall.name,\n      result: mcpResult,\n      inputParams: toolCall.input\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -672
      ],
      "id": "07cadd49-b4a6-4fb9-92a3-908c59491365",
      "name": "Format Search Result"
    },
    {
      "parameters": {
        "jsCode": "  const parseToolCallsData = $('Parse Tool Call').first().json;\n  const toolCall = parseToolCallsData.toolCalls[0];\n  const mcpResult = $input.first().json;\n\n  return [{\n    json: {\n      toolCallId: toolCall.id,\n      toolName: toolCall.name,\n      result: mcpResult,\n      inputParams: toolCall.input\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -512
      ],
      "id": "2398a738-df6b-4aea-a0f1-7e899a175f67",
      "name": "Format Create Result"
    },
    {
      "parameters": {
        "jsCode": "  const parseToolCallsData = $('Parse Tool Call').first().json;\n  const toolCall = parseToolCallsData.toolCalls[0];\n  const mcpResult = $input.first().json;\n\n  return [{\n    json: {\n      toolCallId: toolCall.id,\n      toolName: toolCall.name,\n      result: mcpResult,\n      inputParams: toolCall.input\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -352
      ],
      "id": "c3639173-945e-4088-8e5a-1ed98096db32",
      "name": "Format Fetch Result"
    },
    {
      "parameters": {
        "jsCode": "  const parseToolCallsData = $('Parse Tool Call').first().json;\n  const toolCall = parseToolCallsData.toolCalls[0];\n  const mcpResult = $input.first().json;\n\n  return [{\n    json: {\n      toolCallId: toolCall.id,\n      toolName: toolCall.name,\n      result: mcpResult,\n      inputParams: toolCall.input\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -192
      ],
      "id": "a6ae5010-c285-4de6-8033-58c7ac3ccd27",
      "name": "Format Update Result"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2496,
        -448
      ],
      "id": "0c1ed277-0c02-4613-8210-9e63d2373f30",
      "name": "Merge Tool Results",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "  const claudeResponse = $input.first().json;\n  let responseText = '';\n\n  if (claudeResponse.content && Array.isArray(claudeResponse.content)) {\n    for (const block of claudeResponse.content) {\n      if (block.type === 'text') {\n        responseText += block.text;\n      }\n    }\n  }\n\n  if (!responseText) {\n    responseText = 'Task completed successfully!';\n  }\n\n  return [{\n    json: {\n      responseText,\n      channelId: $('Extract Context').first().json.channelId,\n      threadTs: $('Extract Context').first().json.threadTs\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -416
      ],
      "id": "e141ba29-0c10-406c-93c8-65afd265e51e",
      "name": "Extract Response Text"
    },
    {
      "parameters": {
        "jsCode": "  const parseToolCallsData = $input.first().json;\n\n  return [{\n    json: {\n      responseText: parseToolCallsData.directResponseText || \"I'm not sure how to help with that. Try asking me to search, create, or update Notion pages.\",\n      channelId: $('Extract Context').first().json.channelId,\n      threadTs: $('Extract Context').first().json.threadTs\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        176
      ],
      "id": "5cb6c666-c083-437e-8a72-a7fa9e0ed14b",
      "name": "Extract Direct Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  JSON.stringify({\n    channel: $json.channelId,\n    thread_ts: $json.threadTs,\n    text: $json.responseText\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        176
      ],
      "id": "6cfb3a05-425f-49b9-8933-57bc36ac0422",
      "name": "Post Direct Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wKGpeVhoWDqwY4IS",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2928,
        -416
      ],
      "id": "62d9ae42-d87a-4ce9-8d50-126cbc7010c0",
      "name": "Claude Response Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gu04rFS1KUubizmj",
          "name": "Claude API key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseToolCallsData = $('Parse Tool Call').first().json;\nconst items = $input.all();\n\nconst toolResults = items.map(item => ({\n  type: \"tool_result\",\n  tool_use_id: item.json.toolCallId,\n  content: JSON.stringify(item.json.result)\n}));\n\nconst messages = [\n  {\n    role: \"user\",\n    content: `You are LegacyAI. User command: \"${parseToolCallsData.originalCommand}\"\\n\\nThread context:\\n${parseToolCallsData.originalThread}`\n  },\n  {\n    role: \"assistant\",\n    content: $('Claude Planning Call').first().json.content\n  },\n  {\n    role: \"user\",\n    content: toolResults\n  }\n];\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-20250514\",\n    max_tokens: 1000,\n    messages,\n    system: \"You are LegacyAI, Legacy's Notion assistant.\\n\\nIMPORTANT FORMATTING RULES:\\n- Keep responses concise and scannable\\n- Use simple bullet points (•) not markdown headings\\n- Format links as: Page Title (<URL>)\\n- Group results by category if >3 items\\n- Max 10 results, mention total if more\\n- Use plain text, minimal markdown (Slack renders poorly)\\n\\nExample good format:\\nFound 8 API documentation pages:\\n\\n• Legacy API Access (<link>) - GraphQL API docs\\n• Arcadia/Urjanet API (<link>) - External integration\\n• IQ Energy API (<link>) - Eniscope EMS docs\\n\\nLet me know if you need details on any page!\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -416
      ],
      "id": "70671e12-06a5-4cca-ad76-ccae3582a254",
      "name": "Build Claude Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        0
      ],
      "id": "claude-call-legacy",
      "name": "Claude Planning Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gu04rFS1KUubizmj",
          "name": "Claude API key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Get Thread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thread Messages": {
      "main": [
        [
          {
            "node": "Format Thread for Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Thread for Claude": {
      "main": [
        [
          {
            "node": "Build Notion Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notion Context": {
      "main": [
        [
          {
            "node": "Claude Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Planning": {
      "main": [
        [
          {
            "node": "Claude Planning Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tool Call": {
      "main": [
        [
          {
            "node": "IF Has Tool Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Tool Calls": {
      "main": [
        [
          {
            "node": "Switch Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Direct Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tool": {
      "main": [
        [
          {
            "node": "notion-search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notion-create-pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notion-fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notion-update-page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notion-create-pages": {
      "main": [
        [
          {
            "node": "Format Create Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notion-update-page": {
      "main": [
        [
          {
            "node": "Format Update Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notion-fetch": {
      "main": [
        [
          {
            "node": "Format Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notion-search": {
      "main": [
        [
          {
            "node": "Format Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Result": {
      "main": [
        [
          {
            "node": "Merge Tool Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Create Result": {
      "main": [
        [
          {
            "node": "Merge Tool Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Fetch Result": {
      "main": [
        [
          {
            "node": "Merge Tool Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Format Update Result": {
      "main": [
        [
          {
            "node": "Merge Tool Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Tool Results": {
      "main": [
        [
          {
            "node": "Build Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response Text": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Direct Response": {
      "main": [
        [
          {
            "node": "Post Direct Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Response Call": {
      "main": [
        [
          {
            "node": "Extract Response Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Response": {
      "main": [
        [
          {
            "node": "Claude Response Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Planning Call": {
      "main": [
        [
          {
            "node": "Parse Tool Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Copenhagen",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2ce4957d-c89d-40aa-8b2d-8c87fb262a26",
  "meta": {
    "instanceId": "2231067a0b740718af5322594b1a5d19b2232512729860c8a4494e2f31825162"
  },
  "id": "PbAALWXhBoybT8YA",
  "tags": []
}